{% extends 'base.html' %}
{% load static %}
{% block title %}My Blog{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
    <header id="main-navigation">
    <h1><a href="">Mój blog</a></h1>
    <nav>
        <a href=''>Wszystkie posty</a>
    </nav>
    </header>
    <section id="welcome">
    <header>
        <img src="{% static "blog/images/Wojtek.jpg" %}" alt="Autor tego bloga - Wojtek" />
        <h2>Blog Wojtka</h2>
    </header>
    <p>
        Witaj na moim blogu. Jestem Wojtek i chciałbym podzielić się z Tobą moimi
        przygodami związanymi z podróżami, sportem i zdrowym stylem życia.
    </p>
    </section>

    <section id="latest-posts">
    <h2>Najnowsze posty</h2>
    <ul>
        <li>
        <article class="post">
            <a href="">
            <img src="{% static "blog/images/motorowka.jpg" %}" alt="Wyjazd na motorówkę" />
            <div class="post__content">
                <h3>Wyjazd na motorówkę</h3>
                <p>
                Nie ma nic lepszego niż pływanie po największym jeziorze w Polsce
                </p>
            </div>
            </a>
        </article>
        </li>
    </ul>
    </section>

    <section id="about">
    <h2>O mnie</h2>
    <p>
        Lubię programować, uczyć się nowych rzeczy i podróżować. Na tym blogu dzielę
        się swoimi doświadczeniami związanymi z tymi pasjami.
    </p>
    </section>
{% endblock %}
